body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-proxima-nova: "Proxima Nova";

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-33xl: 52px;
  --font-size-12xl: 31px;
  --font-size-23xl: 42px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-dimgray-100: #5b5b5b;
  --color-dimgray-200: #4d4d4d;
  --color-white: #fff;
  --color-seagreen: #2da57a;
  --color-gainsboro: #d9d9d9;
  --color-black: #000;
  --color-sandybrown: #ff9b52;
  --color-limegreen-100: #02e850;
  --color-limegreen-200: #00d13a;
  --color-deepskyblue: #39bbf3;
  --color-tomato: #ff5252;
  --color-gray: #2b2b2b;
  --color-darkgray: #a9a9a9;
  --color-gold: #ffc700;

  /* Gaps */
  --gap-10xs: 3px;
  --gap-16xl: 35px;
  --gap-17xl: 36px;
  --gap-smi: 13px;
  --gap-6xs: 7px;
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-8xl: 27px;
  --padding-12xs: 1px;
  --padding-16xl: 35px;
  --padding-10xl: 29px;
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-6xl: 25px;
  --padding-4xl: 23px;
  --padding-5xl: 24px;
  --padding-sm: 14px;
  --padding-17xl: 36px;
  --padding-15xl: 34px;
  --padding-74xl: 93px;
  --padding-41xl: 60px;
  --padding-59xl: 78px;
  --padding-2xs: 11px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;
  --padding-xs: 12px;
  --padding-9xl: 28px;
  --padding-7xs: 6px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-21xl: 40px;
  --br-xl: 20px;
  --br-41xl: 60px;
}
